<h3>ASK A QUESTION</h3>


<form action="answer" method="get">
  <label for="question">Speak to your coach</label>
  <input type="text" name="question" placeholder="what time is it?">
  <button type="submit" class="btn btn-primary">Go on Bab' !</button>
</form>


<!-- <form action="?query" >

  <input type="text" id="question" name="name" placeholder="what time is it?">
  <input type="submit" >
</form>

 -->
