// Place all the styles related to the coaching controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  text-align: center
}

h3 {
  margin: 10px;
  padding: 12px;
}

h1 {
  margin: 20px;
  border: 1px solid grey;
  padding: 20px,
}
